<%- include('partials/navigation.ejs', {activePage: 'o_nas'}) %>

<div id="prawa_autorskie_container">
    <section id="prawa_autorskie">

        <h1><%= prawa_autorskie.tytul %></h1>
        <h2><%= prawa_autorskie.h2 %></h2>

        <h3><%= prawa_autorskie.h3_1 %></h3>
        <ul>
            <li><img src="images/navigation/flag_pl.png"><a href="https://www.flaticon.com/free-icons/poland" title="poland icons">Poland icons created by Freepik - Flaticon</a></li>
            <li><img src="images/navigation/flag_en.png"><a href="https://www.flaticon.com/free-icons/united-kingdom" title="united kingdom icons">United kingdom icons created by Freepik - Flaticon</a></li>
            <li><img src="images/navigation/flag_ua.png"><a href="https://www.flaticon.com/free-icons/ukraine" title="ukraine icons">Ukraine icons created by Freepik - Flaticon</a></li>
            <li><img src="images/navigation/flag_de.png"><a href="https://www.flaticon.com/free-icons/germany" title="germany icons">Germany icons created by Freepik - Flaticon</a></li>
        </ul>

        <hr>

        <h3><%= prawa_autorskie.h3_2 %></h3>
        <ul>
            <li><img src="images/footer/navigation.png"><a href="https://www.flaticon.com/free-icons/navigation" title="navigation icons">Navigation icons created by Smashicons - Flaticon</a></li>
            <li><img src="images/footer/link.png"><a href="https://www.flaticon.com/free-icons/link" title="link icons">Link icons created by Creaticca Creative Agency - Flaticon</a></li>
            <li><img src="images/footer/phone-call1.png"><a href="https://www.flaticon.com/free-icons/phone" title="phone icons">Phone icons created by Gregor Cresnar - Flaticon</a></li>
        </ul>

        <hr>

        <h3><%= prawa_autorskie.h3_3 %></h3>
        <ul>
            <li><img src="images/index/car-service.png"><a href="https://www.flaticon.com/free-icons/car-service" title="car service icons">Car service icons created by Freepik - Flaticon</a></li>
            <li><img src="images/index/oil-tank.png"><a href="https://www.flaticon.com/free-icons/oil-tank" title="oil-tank icons">Oil-tank icons created by Umeicon - Flaticon</a></li>
            <li><img src="images/index/tools.png"><a href="https://www.flaticon.com/free-icons/tool-box" title="tool box icons">Tool box icons created by Eucalyp - Flaticon</a></li>
        </ul>
        
        <hr>

        <h3><%= prawa_autorskie.h3_4 %></h3>
        <ul>
            <li><img src="images/edukacja/fault.png"><a href="https://www.flaticon.com/free-icons/isolation" title="isolation icons">Isolation icons created by juicy_fish - Flaticon</a></li>
            <li><img src="images/edukacja/diagnostic.png"><a href="https://www.flaticon.com/free-icons/diagnostic" title="diagnostic icons">Diagnostic icons created by Eucalyp - Flaticon</a></li>
            <li><img src="images/edukacja/oscilloscope.png"><a href="https://www.flaticon.com/free-icons/oscilloscope" title="oscilloscope icons">Oscilloscope icons created by monkik - Flaticon</a></li>
            <li><img src="images/edukacja/right-arrow.png"><a href="https://www.flaticon.com/free-icons/arrow" title="arrow icons">Arrow icons created by Uniconlabs - Flaticon</a></li>
            <li><img src="images/edukacja/arrow.png"><a href="https://www.flaticon.com/free-icons/arrow" title="arrow icons">Arrow icons created by Freepik - Flaticon</a></li>
        </ul>

        <hr>

        <h3><%= prawa_autorskie.h3_5 %></h3>
        <ul>
            <li><img src="images/oleje/trade.png"><a href="https://www.flaticon.com/free-icons/trade" title="trade icons">Trade icons created by Smashicons - Flaticon</a></li>
            <li><img src="images/oleje/receiver.png"><a href="https://www.flaticon.com/free-icons/receive" title="receive icons">Receive icons created by Futuer - Flaticon</a></li>
            <li><img src="images/oleje/warehouse.png"><a href="https://www.flaticon.com/free-icons/data-warehouse" title="data warehouse icons">Data warehouse icons created by monkik - Flaticon</a></li>
            <li><img src="images/oleje/research.png"><a href="https://www.flaticon.com/free-icons/research" title="research icons">Research icons created by surang - Flaticon</a></li>
            <li><img src="images/oleje/microscope.png"><a href="https://www.flaticon.com/free-icons/microscope" title="microscope icons">Microscope icons created by DinosoftLabs - Flaticon</a></li>
            <li><img src="images/oleje/suggestion.png"><a href="https://www.flaticon.com/free-icons/suggestion" title="suggestion icons">Suggestion icons created by Freepik - Flaticon</a></li>
            <li><img src="images/oleje/expertise.png"><a href="https://www.flaticon.com/free-icons/expertise" title="expertise icons">Expertise icons created by Freepik - Flaticon</a></li>
        </ul>

        <hr>

        <h3><%= prawa_autorskie.h3_6 %></h3>
        <ul>
            <li><img src="images/o_nas/honesty.png"><a href="https://www.flaticon.com/free-icons/trust" title="trust icons">Trust icons created by Freepik - Flaticon</a></li>
            <li><img src="images/o_nas/goal.png"><a href="https://www.flaticon.com/free-icons/goal" title="goal icons">Goal icons created by Freepik - Flaticon</a></li>
        </ul>
        
        <hr>

        <h3><%= prawa_autorskie.h3_7 %></h3>
        <ul>
            <li><img src="/images/edukacja/interaktywna_platforma/computer.png"><a href="https://www.flaticon.com/free-icons/diagnostic" title="diagnostic icons">Diagnostic icons created by Freepik - Flaticon</a></li>
            <li><img src="/images/edukacja/interaktywna_platforma/settings.png"><a href="https://www.flaticon.com/free-icons/wrench" title="wrench icons">Wrench icons created by Gregor Cresnar Premium - Flaticon</a></li>
            <li><img src="/images/edukacja/interaktywna_platforma/mechanic.png"><a href="https://www.flaticon.com/free-icons/mechanic" title="mechanic icons">Mechanic icons created by monkik - Flaticon</a></li>
        </ul>

        <hr>

        <h3><%= prawa_autorskie.h3_8 %></h3>
        <ul>
            <li><img src="/images/narzedzia/job-cv.png"><a href="https://www.flaticon.com/free-icons/hiring" title="hiring icons">Hiring icons created by Freepik - Flaticon</a></li>
            <li><img src="/images/narzedzia/metal.png"><a href="https://www.flaticon.com/free-icons/material" title="material icons">Material icons created by Freepik - Flaticon</a></li>
            <li><img src="/images/narzedzia/precision.png"><a href="https://www.flaticon.com/free-icons/precision" title="precision icons">Precision icons created by Freepik - Flaticon</a></li>
            <li><img src="/images/narzedzia/money-bag.png"><a href="https://www.flaticon.com/free-icons/money" title="money icons">Money icons created by Smashicons - Flaticon</a></li>
        </ul>


    </section>
</div>

<%- include('partials/footer.ejs', {activePage: 'o_nas'}) %>